.finder {
    width: 310px;
    background-color:#EEF1F5;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 20px;
}
.finderBlock {
    margin: 35px 20px 25px 40px;
    width: 250px;
    height: 640px;
    /* background-color: aqua; */
}
.inputFinder {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #656565;
    text-align: center;
}
.magnifer {
    width: 20px;
    height: 20px;
}
.list {
    /* height: 100%; */
    margin-top: 40px;
    
}

.outline {
    border: none;
    height: 1px;
    background-color: #656565;
}