.finder {
    width: 310px;
    background-color:#EEF1F5;
    border-bottom-left-radius: 20px;
    background-image: url('../../../../../public/backgroundModal.svg');
}
.finderBlock {
    margin: 35px 20px 25px 40px;
    width: 250px;
    height: 640px;

}
.inputFinder {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #656565;
    padding-left: 50px;
    background-image: url('../../../../../public/Magnifier.svg');   
    background-repeat: no-repeat;
    background-position: 20px;
    outline: none; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}
.magnifer {
    width: 20px;
    height: 20px;
}
.list {
    height: 570px;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.outline {
    border: none;
    height: 1px;
    background-color: #656565;
}