html
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cursor 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: none;
    border: 0;
    outline: none;
    z-index: 999999; 
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    transition: 0, 1s;
    transform: translate(-25%, -25%);
}
.sidepanel 
{
    border: 2px solid #4c4c4c;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 секунды эффект перехода */
}
.sidepanel a 
{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #1d1d1d;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover 
{
    background: #d9d9d9;
}
.sidepanel .closebtn 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0px;
    font-size: 36px;
    width: 45px;
}
.sidepanel .mods_of_work
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 25px;
    height: 100%;
    width: 100%;
}
.txt_to_img_href
{
    border: 1px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}
.txt_to_img_btn
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.img_to_img_href
{
    outline: 4px solid rgb(0, 0, 0);
    outline-offset: 2px;
    border: 3px solid rgb(0, 0, 0);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: 1px solid rgb(0, 0, 0);
}
.img_to_img_btn
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.photo_to_img_href
{
    border: 1px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
}
.photo_to_img_btn
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.frames_to_animation_href
{
    border: 1px solid rgb(76, 76, 76);
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
.frames_to_animation_btn
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.sidepanel .setting_buttons
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 25px;
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 15%;
    border: 2px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
}
.settings_btn
{
    margin-top: 1%;
    display: flex;
    margin-left: 10%;
    float: left;
    display: inline-block;
    height: 90%;
    width: 30%;
}
.settings_btn_img
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: auto;
}
.language_btn
{
    margin-top: 1%;
    display: flex;
    margin-right: 10%;
    float: right;
    display: inline-block;
    height: 90%;
    width: 30%;
}
.language_btn_img
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: auto;
}
.sidepanel .helpfull_links
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 8%;
}
.helpfull_links a:hover 
{
    text-decoration: underline;
}
.about_us_href
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    width: 49%;
    display: inline-block;
}
.help_href
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    width: 49%;
    display: inline-block;
}
.openbtn 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid rgb(181, 181, 181);
}
.openbtn:hover 
{
    background-color: #bbb;
}
.nav
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 610px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.nav:hover
{
    opacity: 1;
}
.icon_buttons
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: auto;
    display: flex;
    display: inline-block;
    width: 80%;
}
.arrow_back
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.arrow_back_image
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.arrow_next
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.arrow_next_image
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.clr
{
    background-color:#000000;
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.clrimg
{
    cursor: pointer;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.clr_window
{
    display: none;
    z-index: 19;
    position: fixed;
    justify-content: flex-end;
    top: 7%;
    margin-right: 200px;
    border: 2px solid rgb(29, 29, 29);
    background-color:#fff;
}
.ctype_clr_btn
{
    color: rgb(0, 0, 0);
    background-color:#ffffff;
    height: 30%;
    width: 40%;
    float: left;
    display: flex;
    margin-left: auto;
}
.ok_clr_btn
{
    color: #fff;
    background-color:#000000;
    height: 30%;
    width: 40%;
    float: right;
    display: flex;
    margin-left: auto;
}
.pencil
{
    cursor: pointer;
    border: 5px solid #000000;
    border-radius: 3px;
    height: 40px;
    width: 50px;
}
.pencil_image
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.pipette
{
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 3px;
    height: 40px;
    width: 50px;
}
.pipette_image
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.clear
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.clearimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.upload
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.hiddenInput
{  
    position:absolute;
    overflow: hidden;
    display:block;  
    height:0px;  
    width:0px;  
}
.uploadimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.save
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.saveimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.generate
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.generateimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.scale_field
{
    position: absolute;
    width: 60px;
    height: 4%;
    bottom: 7%;
    right: 5%;
}
.f_ratio
{
    width: 100%;
}
.ratio_tooltip 
{
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  position: absolute;
  width: 100px;
  transform-style: preserve-3d;
  transform: translate(0%, 15%);
  text-align: center;
  top: 100%;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: 100;
  will-change: opacity, visibility;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}
.ratio_tooltip:after 
{
  content: '';
  position: absolute;
  left:50%;
  margin-left: -5px;
  top: -9px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid tomato;
}
input:invalid ~ .ratio_tooltip 
{
  visibility: hidden;
  opacity: 10;
}
input:valid ~ .ratio_tooltip 
{
  transition: opacity 3s, visibility 10s 1s;
}
.d_frame
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 80%;
    height: 80%;
    padding: 10px;
    cursor: none;
    overflow: hidden;
}
.v_frame
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(154, 154, 154);
}
canvas
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.foreground_canvas
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.background_canvas
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.alpha_img
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-image: url(alpha_pattern.png);
    background-repeat: repeat;
}