html
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cursor 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: none;
    border: 0;
    outline: none;
    z-index: 999999; 
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    transition: 0, 1s;
    transform: translate(-25%, -25%);
}
.sidepanel 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(224, 197, 26);
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 секунды эффект перехода */
}
.sidepanel a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover 
{
    color: rgb(244, 237, 76);
}
.sidepanel .closebtn 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidepanel .mods_of_work
{
    font-size: 25px;
}
.sidepanel .setting_buttons
{
    font-size: 25px;
    position: absolute;
    bottom: 20%;
}
.sidepanel .helpfull_links
{
    font-size: 15px;
    position: absolute;
    bottom: 10%;
}
.openbtn 
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid rgb(181, 181, 181);
}
.openbtn:hover 
{
    background-color: #bbb;
}
.nav
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 430px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.nav:hover
{
    opacity: 1;
}
.icon_buttons
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: auto;
    display: flex;
    display: inline-block;
    width: 80%;
}
.clr
{
    background-color:#000000;
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.clrimg
{
    cursor: pointer;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.clr_window
{
    display: none;
    z-index: 1;
    position: fixed;
    justify-content: flex-end;
    top: 7%;
    margin-right: 200px;
    border: 2px solid rgb(29, 29, 29);
    background-color:#fff;
}
.ok_clr_btn
{
    color: #fff;
    background-color:#000000;
    height: 30%;
    width: 40%;
    float: right;
    display: flex;
    margin-left: auto;
}
.clear
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.clearimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.upload
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.uploadimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.save
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.saveimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.generate
{
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.generateimg
{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.d_frame
{
    position: absolute;
    width: 80%;
    height: 80%;
    padding: 10px;
    cursor: none;
    overflow: hidden;
}
.v_frame
{
    width: 100%;
    height: 100%;
    border: 4px solid rgb(154, 154, 154);
}
canvas
{
    width: 100%;
    height: 100%;
}