html
{
    touch-action: none;
    margin: 0;
    padding: 0;
}
body
{
    touch-action: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cursor 
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: none;
    border: 0;
    outline: none;
    z-index: 999999; 
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    transition: 0, 1s;
    transform: translate(-25%, -25%);
}
.sidepanel 
{
    touch-action: none;
    border: 2px solid #4c4c4c;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 секунды эффект перехода */
}
.sidepanel a 
{
    touch-action: none;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #1d1d1d;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover 
{
    touch-action: none;
    background: #d9d9d9;
}
.sidepanel .closebtn 
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0px;
    font-size: 36px;
    width: 45px;
}
.sidepanel .mods_of_work
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 25px;
    height: 100%;
    width: 100%;
}
.txt_to_img_href
{
    touch-action: none;
    border: 1px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}
.txt_to_img_btn
{
    touch-action: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.img_to_img_href
{
    touch-action: none;
    outline: 4px solid rgb(0, 0, 0);
    outline-offset: 2px;
    border: 3px solid rgb(0, 0, 0);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: 1px solid rgb(0, 0, 0);
}
.img_to_img_btn
{
    touch-action: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.photo_to_img_href
{
    touch-action: none;
    border: 1px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
}
.photo_to_img_btn
{
    touch-action: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.frames_to_animation_href
{
    touch-action: none;
    border: 1px solid rgb(76, 76, 76);
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
.frames_to_animation_btn
{
    touch-action: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.sidepanel .setting_buttons
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 25px;
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 15%;
    border: 2px solid rgb(76, 76, 76);
    border-left-style: hidden;
    border-right-style: hidden;
}
.settings_btn
{
    cursor: pointer;
    touch-action: none;
    margin-top: 1%;
    display: flex;
    margin-left: 10%;
    float: left;
    display: inline-block;
    height: 90%;
    width: 30%;
}
.settings_btn_img
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: auto;
}
.language_btn
{
    cursor: pointer;
    touch-action: none;
    margin-top: 1%;
    display: flex;
    margin-right: 10%;
    float: right;
    display: inline-block;
    height: 90%;
    width: 30%;
}
.language_btn_img
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: auto;
}
.sidepanel .helpfull_links
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 8%;
}
.helpfull_links a:hover 
{
    touch-action: none;
    text-decoration: underline;
}
.about_us_href
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    width: 49%;
    display: inline-block;
}
.help_href
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    width: 49%;
    display: inline-block;
}
.layers
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    bottom: 9%;
    right: 5px;
    height: 16%;
    width: 9%;
    border-radius: 3px;
    border: 2px solid rgb(85, 85, 85);
}
.layers_buttons
{
    position: relative;
    left: 2%;
    top: 1%;
    width: 95%;
    height: 15%;
}
.layers_mini_button
{
    cursor: pointer;
    width: 18%;
    height: 110%;
}
.layers_mini_button_image
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    top: -12%;
    left: -75%;
    width: 250%;
    height: 120%;
}
.layer_box
{
    position: relative;
    top: 3%;
    left: 1%;
    width: 91%;
    height: 74%;
}
.layer
{
    display: flex;
    width: 100%;
    height: 47%;
    border-radius: 3px;
    border: 2px solid rgb(85, 85, 85);
}
.layer_visibility_button
{
    cursor: pointer;
    width: 17%;
    height: 100%;
}
.layers_visibility_button_image
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    margin-top: auto;
    left: -100%;
    width: 300%;
    height: 50%;
}
.layer_button
{
    touch-action: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    width: 82%;
    height: 95%;
}
.layer_display_canvas
{
    position: absolute;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top: 53%;
    transform: translate(0, -50%);
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
    width: 99.5%;
    height: 100%;
}
.openbtn 
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid rgb(181, 181, 181);
}
.openbtn:hover 
{
    touch-action: none;
    background-color: #bbb;
}
.graphic_tablet
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 50px;
    position: fixed;
    margin-left: auto;
    display: none;
    border: 1px solid #707070;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    top: 4px;
    left: 10%;
}
.graphic_tablet_image
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.nav
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 600px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.nav:hover
{
    touch-action: none;
    opacity: 1;
}
.icon_buttons
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: auto;
    display: flex;
    display: inline-block;
    width: 100%;
}
.clr_window
{
    touch-action: none;
    display: none;
    z-index: 19;
    position: fixed;
    justify-content: flex-end;
    top: 6%;
    margin-right: 21.6%;
    border: 2px solid rgb(29, 29, 29);
    background-color:#ffffff;
}
.ctype_clr_btn
{
    touch-action: none;
    color: #000000;
    background-color:#ffffff;
    height: 30%;
    width: 40%;
    float: left;
    display: flex;
    margin-left: auto;
}
.ok_clr_btn
{
    touch-action: none;
    color: #ffffff;
    background-color:#000000;
    height: 30%;
    width: 40%;
    float: right;
    display: flex;
    margin-left: auto;
}
.pencil_window
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    z-index: 18;
    position: fixed;
    justify-content: flex-end;
    top: 6%;
    width: 230px;
    margin-right: 14.5%;
    border: 2px solid rgb(29, 29, 29);
    background-color:#fff;
}
.thicknessimg
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 20px;
    width: 20px;
}
.thickness_slider
{
    touch-action: none;
    width: 60%;
}
.thickness_field
{
    touch-action: none;
    width: 20%;
}
.smoothingimg
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 20px;
    width: 20px;
}
.smoothing_slider
{
    touch-action: none;
    width: 60%;
}
.smoothing_field
{
    touch-action: none;
    width: 20%;
}
.eraser_window
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: none;
    z-index: 18;
    position: fixed;
    justify-content: flex-end;
    top: 6%;
    width: 230px;
    margin-right: 7.5%;
    border: 2px solid rgb(29, 29, 29);
    background-color:#fff;
}
.e_thickness_slider
{
    touch-action: none;
    width: 60%;
}
.e_thickness_field
{
    touch-action: none;
    width: 20%;
}
.up_panel_button_tool
{
    touch-action: none;
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 3px;
    height: 40px;
    width: 50px;
}
.hiddenInput
{   
    touch-action: none;
    position:absolute;
    overflow: hidden;
    display:block;  
    height:0px;  
    width:0px;  
}
.up_panel_button
{
    touch-action: none;
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.up_panel_button_image
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.scale_field
{
    touch-action: none;
    position: absolute;
    width: 60px;
    height: 3%;
    bottom: 3%;
    right: 2%;
}
.f_ratio
{
    touch-action: none;
    width: 100%;
}
.d_frame
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 80%;
    height: 80%;
    padding: 10px;
    cursor: none;
    overflow: hidden;
}
.v_frame
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(154, 154, 154);
}
canvas
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.current_canvas
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.foreground_canvas
{
    display: block;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.background_canvas
{
    display: block;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}
.alpha_img
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 7;
    background-image: url(alpha_pattern.png);
    background-repeat: repeat;
}