.layer
{
    margin-top: 5px;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: start;
    border-radius: 3px;
    outline: 1px solid rgb(85, 85, 85);
}

.layer_button_box
{
    width: 15%;
    height: 99%;
    line-height: 80% !important;
}

.layer_button
{
    touch-action: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    width: 82%;
    height: 95%;
}

.layer_display_icon
{
    position: absolute;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top: 53%;
    transform: translate(0, -50%);
    margin: 0;
    border: 0 solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

.layer_display_canvas
{
    position: absolute;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 80px;
    height: 100%;
}

.destroy_button{
    display: flex;
    bottom: 1000px;
    /*right: 5px; */
    height: 20px;
    width: 20px;
    border: none;
}

.right_shift {
    position: absolute;
    /* display: flex; */
    /* transform: translate(-50%, -50%); */
    left: 83%;
    bottom: 70%;
    cursor: pointer;
    z-index: 2;
}

.layer_left_mini_button
{
    position: relative;
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid rgb(80, 76, 76);
}