.myModal {
    display: none;
}

.hiddenInput
{
    touch-action: none;
    position: absolute;
    overflow: hidden;
    display: block;
    height: 0;
    width: 0;
}
.active {
    border: 4px solid #000;
    transform: translateY(4%);
}
.unactive {
    border: 1px solid #000;
}
.window
{
    position: fixed;
    height: 100%;
    width: 100%;
}
.contentBox
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #707070;
    border-radius: 10px;
    height: 600px;
    width: 400px;
    background-color: rgb(255, 255, 255);

}

.contentText
{
    position: absolute;
    top: 5%;
    left: 12%;
    height: 80%;
    width: 300px;

}
