.upload {
    width: 145px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    border-radius: 20px;
    background: #1975D2;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 9px 22px;
}
.upload p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

@media screen and (max-width: 1600px) {
    .upload {
        width: fit-content;
        padding: 9px 15px;
        gap: 5px;
    }
    .upload p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1245px) {
    .upload {
        width: 115px;
    }
    .upload p {
        font-size: 14px;
    }
}
@media screen and (max-width: 1024px) {
    .upload {
        width: fit-content;
        padding: 9px 22px;
        height: 35px;
        gap: 5px;
    }
    .upload p {
        font-size: 15px;
    }
    .upload svg
    {
        width: 15px;
    }
}
@media screen and (max-width: 768px) {
    .upload {
        width: fit-content;
        padding: 8px 15px;
        height: 24px;
        gap: 5px;
    }
    .upload p {
        font-size: 11px;
    }
}