*.pt
*.ckpt
*.pth
*token.txt
*detect_language_key.txt
*.key
*.crt
*.safetensors
*.bin
Client/appsettings.Production.json
Client/Migrations
Client/.config
Client/.vs
Client/bin
Client/Data
Client/Migrations
Client/node_modules
Client/obj
Client/app.db
Client/CLI.csproj.user
Client/CLI.sln
Client/package.json
Client/package-lock.json
Client/ClientApp/build
Client/ClientApp/node_modules
Client/ClientApp/.env
Client/ClientApp/.env.development
Client/ClientApp/.env.development.local
Client/ClientApp/aspnetcore-https.js
Client/ClientApp/aspnetcore-react.js
Client/ClientApp/package.json
Client/ClientApp/package-lock.json
Client/ClientApp/README.MD