*.pt
*.ckpt
*.pth
*token.txt
*detect_language_key.txt
*.key
*.crt
*.safetensors
Neural_network_processing/log
Stable_draw_classifier_v1/Dataset_100_v1
Stable_draw_classifier_v1/Dataset_v1
Stable_draw_classifier_v1/Dataset_350_v2
Stable_draw_classifier_v1/Dataset_v2
*.bin
Client_test/.config
Client_test/.vs
Client_test/bin
Client_test/Data
Client_test/Migrations
Client_test/node_modules
Client_test/obj
Client_test/app.db
Client_test/CLI.csproj
Client_test/CLI.csproj.user
Client_test/CLI.sln
Client_test/package.json
Client_test/package-lock.json
Client_test/ClientApp/build
Client_test/ClientApp/node_modules
Client_test/ClientApp/.env
Client_test/ClientApp/.env.development
Client_test/ClientApp/.env.development.local
Client_test/ClientApp/aspnetcore-https.js
Client_test/ClientApp/aspnetcore-react.js
Client_test/ClientApp/package.json
Client_test/ClientApp/package-lock.json
Client_test/ClientApp/README.MD