credentals.json
.vscode/
node_modules/
package-lock.json
package.json
*.pt
*.ckpt
*.pth
*token.txt
*detect_language_key.txt
*.key
*.crt
*.safetensors
*.bin
Client/appsettings.Production.json
Client/Migrations
Client/.config
Client/.vs
Client/bin
Client/Data
Client/Migrations
Client/node_modules
Client/obj
Client/app.db
Client/CLI.csproj.user
Client/CLI.sln
Client/package.json
Client/package-lock.json
Client/ClientApp/build
Client/ClientApp/node_modules
Client/ClientApp/.env
Client/ClientApp/.env.development
Client/ClientApp/.env.development.local
Client/ClientApp/aspnetcore-https.js
Client/ClientApp/aspnetcore-react.js
Client/ClientApp/package.json
Client/ClientApp/package-lock.json
Client/ClientApp/README.MD
/.idea
/.vs
/Client/*.db
/StableDraw.Core/bin
/StableDraw.MinIOService/.idea
/StableDraw.MinIOService/obj
/StableDraw.RabbitMQService/.idea
/StableDraw.RabbitMQService/.vs
/StableDraw.MinIOService/bin
/StableDraw.RabbitMQService/bin
/StableDraw.RabbitMQService/obj
/PushpullMinIO
/StableDraw.Domain/obj
/StableDraw.Core/obj
/StableDraw.Domain/bin

/StableDraw.Contracts/obj
/StableDraw.SagasService/obj
/StableDraw.SagasService/bin
/build/.idea
/build/bin
/build/obj
/manifestos/rabbitmq
/StableDraw.Contracts/bin
/StableDraw.Contracts/obj
/StableDraw.SagasService/logs
/StableDraw.SagasService/.idea
/StableDraw.SagasService/bin
/StableDraw.MinIOService/logs
/StableDraw.MinIOService/credentials.json
/.nuke/temp
/StableDraw.NeuralService/venv
StableDraw.SagasService/app.db
StableDraw.MinIOService/appsettings.Development.json
StableDraw.SagasService/app.db-shm
StableDraw.SagasService/app.db-wal
/Client/.idea
StableDraw.MinIOService/credentials.json
/Client/ClientApp/public/babylon UI
/Client/ClientApp/public/babylon
Client/app.db-shm
Client/app.db-wal
StableDraw.MinIOService/credentials.json
