.cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border-top: 1px solid #ABABAB;
	padding: 15px 10px 10px 10px;
}

.cont div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.text {
	display: inline-block;
	width: 100%;
	color: #656565;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.input {
	color: #656565;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 465px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background: #D9DBDC;
	padding: 5px 0 5px 20px;
	outline: none;
}

.input::placeholder {
	color: #656565;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background: #D9DBDC;
	outline: none;
}

.paramImg {
	width: 20px;
	height: 20px;
}

@media(max-width: 1280px) {
	.input::placeholder {
		font-size: 16px;
		font-weight: 500;
	}
}

@media(max-width: 768px) {
	.input::placeholder {
		font-size: 12px;
		font-weight: 500;
	}

	.input {
		font-size: 12px;
		width: 400px;
	}

	.text {
		font-size: 12px;
	}

}