.param {
    margin-top: 10px;
    max-width: 520px;
    border-top: 1px solid #404249;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 10px 10px 0;
    padding: 5px 0;
}

.paramText {
    max-width: 290px;
    padding: 0 0px 0px 30px;
}
.block2{
    justify-content: space-between;
}

.paramImg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.select {
    max-width: 235px;
    height: 25px;
    border-radius: 5px;
    background: #D9DBDC;
    outline: none;
}
.option {
    color: #656565;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media(max-width: 1280px){
    .container
    {
        margin: 5px 0px 5px 0px
    }
    .paramText
    {
        padding-left: 20px;
        font-size: 14px;
    }
    .select
    {
        font-size: 14px;
        padding: 0 10px;
    }
}
@media(max-width: 768px){
    .param
    {
        max-width: 475px;
        margin-top: 5px;
    }
    .select
    {
        padding: 0 5px;
        max-width: 130px;
    }
    .block2
    {
        display: flex;
        align-items: center;
    }
    .paramImg
    {
        margin-left: 5px;
    }
    .paramText
    {
        padding-left: 10px;
        font-size: 12px;
    }
}