
.cont {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 15px 10px 15px 10px;
	border-top: 1px solid #ABABAB;
	justify-content: space-between;
}

.cont div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
}

.paramText {
	max-width: 100%;
	color: #656565;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0px !important; 
}

.paramImg {
	width: 20px;
	height: 20px;
}

.select {
	height: 30px;
	border-radius: 5px;
	background: #D9DBDC;
	outline: none;
	color: #656565;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 15px;
	cursor: pointer;
	width: 465px;
}

.option {
    color: #656565;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media(max-width: 1280px){
    .paramText
    {
        font-size: 14px;
    }
    .select
    {
        font-size: 14px;
				width: 400px;
    }
}
@media(max-width: 768px){

    .paramText
    {
        font-size: 12px;
    }
}