.param {
	width: 100%;
    padding: 10px 15px 10px 0;
	border-top: 1px solid #404249;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.paramText {
	width: fit-content;
	padding: 0 0px 0px 30px;
	color: #656565;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.block2 {
	justify-content: space-between;
    display: flex;
}

.paramImg {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.select {
	max-width: 235px;
	height: 25px;
	border-radius: 5px;
	background: #D9DBDC;
	outline: none;
	color: #656565;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 15px;
	cursor: pointer;
}

.option {
    color: #656565;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media(max-width: 1280px){
    
    .paramText
    {
        padding-left: 20px;
        font-size: 14px;
    }
    .select
    {
        font-size: 14px;
        padding: 0 10px;
    }
}
@media(max-width: 768px){
    .param
    {
        margin-top: 5px;
    }
    .select
    {
        padding: 0 5px;
        max-width: 130px;
    }
    .block2
    {
        display: flex;
        align-items: center;
    }
    .paramImg
    {
        margin-left: 5px;
    }
    .paramText
    {
        padding-left: 10px;
        font-size: 12px;
    }
}