.flexBox { display: flex; }
.fourthScreen
{
	width: 100%;
	gap: 50px;
	justify-content: center;
	margin-top: 10vw;
	flex-wrap: wrap;
}
.fourthScreen h2
{
	text-align: left;
}
.processTitle
{
	color: #FFF;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 122.838%;
	text-align: left;
	width: 543px;
	margin-left: 20.5vw;
}
.processContent { gap: 40px; justify-content: center;}
.listProcess
{
	width: 36vw;
	flex-direction: column;
	gap: 30px;
}
.itemListProcess
{
    align-items: center;
    flex-direction: row;
	gap: 20px;
	align-items: flex-start;
}
.itemListProcess .textItem
{
	color: #FFF;
    width: 57vw;
    font-family: Montserrat;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 122.838%;
}
.processImg
{
	flex-direction: column;
	max-width: 21vw;
	gap: 20px;
}
.processImg span
{
	font-size: 0.995vw;
}
.processImg img
{
	width: 21.5vw;
	border-radius: 20px;
}