.mainContent {
    width: 70%;
    height: fit-content;
    background-color: #FFFFFF;
    border-bottom-right-radius: 20px;
}
.mainContent2 {
    width: 100%;
    height: fit-content;
    padding: 3% 8%;
    color: #656565;
}
input
{
    padding-left: 5px;
}
@media(max-width: 1280px){

}
@media(max-width: 768px){
    .mainContent2
    {
        height: fit-content;
        width: fit-content;
        padding:2%;
    }

}