.nav
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 55px;
    height: 455px;
    position: fixed;
    top: 220px;
    left: 60px;
    transform: translateX(-50%);
    display: block;
    /*align-items: center;*/
    border: 1px solid #000000;
    background-color: #4c4c4c;
}
.nav:hover
{
    touch-action: none;
    opacity: 1;
}

.side_panel_button
{
    touch-action: none;
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 3px;
    height: 40px;
    width: 50px;
}
.side_panel_button_image
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.hiddenInput
{
    touch-action: none;
    position: absolute;
    overflow: hidden;
    display: block;
    height: 0;
    width: 0;
}
.active {
    border: 4px solid #000;
    transform: translateY(4%);
}
