

.bar{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
	justify-content: center;
	max-height: 700px;
	overflow-y:auto !important;
	z-index: 1000 !important;
}

.barContainer{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 5px;
}

.modelCard{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 3px;
	flex-direction: column;
	border-radius: 20px !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	z-index: 1001 !important;
}

.imgCard{
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1002 !important;
}

.textCard{
	padding: 5px;
	display: flex;
	justify-content: center;
}

.sizeBar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:10px;
	padding: 20px;
	background-color: gray !important;
	border-radius: 20px !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.buttonsSizeBar{
	display: flex;
	max-width: 400px;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	box-shadow: none;
	border-radius: 20px !important;
	background-color: #cccccc !important;
}
