.main {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-around;
	width: 100%;
	height: 240px;
	background: #000;
}

.infoLeft {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 44px;
}

.addressTxt {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.supportTxt {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 15px 13px 14px;
	border-radius: 10px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.support {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 41px;
}

.infoRight {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	gap: 20px;
}

.txtRight {
	color: #FFF;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}