.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	width: 100%;
	align-items: flex-start;
	justify-content: space-around;
	background: #000;
	padding-bottom: 50px;
}

.infoLeft {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 44px;
}

.addressTxt {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #FFF;
	font-family: Montserrat;
		
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.supportTxt {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 15px 13px 14px;
	border-radius: 10px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.support {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 41px;
}

.infoRight {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	gap: 20px;
}

.txtRight {
	color: #FFF;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.media{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 34px;
}

.iconBorder{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	width: 44px;
	height: 44px;
	border: 2px solid white;
}

.iconBorder:hover{
	background-color: #222222;
}
.iconBorderTg{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	width: 44px;
	height: 44px;
	border: 2px solid white;
	padding: 0 4px 4px 0;
}

.iconBorderTg:hover{
	background-color: #222222;
}

.infoCont{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 17px;
}

.link {
	text-decoration: none;
}

@media(max-width: 1024px){
	.media {
		gap: 12px;
	}
	.main {
		gap: 16px;
	}
	.support {
		gap: 26px;
	}
}
@media(max-width: 855px){
	.main {
		padding: 0 5% 50px 5%;
	}
}
@media(max-width: 768px){
	.support {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
@media(max-width: 768px){
	
}
.info{
	display: flex;
	flex-direction: column;
	height: 250px;
	background: #000;
	width: 100%;
}

.docs{
	color: #FFF;
	font-size: 12px;
}
.box_docs
{
	display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
    justify-content: space-between;
}
.right_docs span
{
	margin-bottom: 5px;
}
.left_docs span
{
	margin-bottom: 5px;
}
.left_docs span span, .right_docs span span
{
	font-weight: 500;
	font-size: 14px;
}
.right_docs, .left_docs
{
	width: 50%;
	display: flex;
	flex-direction: column;
}

