@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");

.logoTxt {
	display: flex;
	align-items: center;
	justify-content: center;

	color: #FFF;
	font-family: Montserrat Subrayada;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.logo {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;

}

.link {
	text-decoration: none;
}

.main {
	background: #000;
	width: 80%;
	margin: auto 10%;
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menuBtn {
	width: 40px;
	height: 20px;
	padding: 0;
	border: none;
	background: none;
}

.txt {
	color: #FFF;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.registration {
	display: flex;
	flex-direction: row;
	gap: 90px;
	justify-content: center;
	align-items: center;
}
@media(max-width: 590px){
	.main {
		margin: auto 40px;
	}
}
