@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");

.test {
	width: 100%;
	height: 100%;
	background-color: aqua;
}
.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.content {
	background: linear-gradient(180deg,
			rgba(0, 0, 0, 0.70) 21.91%,
			rgba(0, 0, 0, 0.00) 39.22%),
		url('../../../../../public/startPage/newback.png'), lightgray 50% / cover no-repeat;
	width: 100%;
	height: 1080px;
	background-position: 50% 100%;
}

.preview {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
	padding: 0 0 0 933px;
	margin-top: 300px;
}
.preview1 {
	display: flex;
	gap: 30px;
	align-items: flex-start;
	padding-left: 969px;
}

.name {
	color: #FFF;
	font-family: Montserrat;
	font-size: 80px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.aboutUsTxt {
	position: absolute;
	z-index: 1;
	width: 630px;
	height: 150px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: rgba(0, 0, 0, 0.10);
}

.aboutUs {
	position: relative;
	width: 560px;
	height: 150px;
	margin-top: 37px;
	margin-bottom: 73px;
}

.btns {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 30px;
	padding-left: 340px;
}

.txtWhite {
	color: #FFF;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.txtBlack {
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btnFill {
	padding: 30px 66px 30px 66px;
	border: none;
	width: 250px;
	height: 100px;
	border-radius: 20px;
	background: #FFF;
	text-decoration: none;
}

.btnFill:hover {
	background: #e4e3e3;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 44px 30px 44px;
	border: none;
	background: none;
	width: 300px;
	height: 100px;
	border-radius: 20px;
	border: 3px solid #D4E6FF;
	text-decoration: none;

}

.btn:hover{
	background: #8685854b;
}
@media(max-width: 1600px){
	.preview {
		padding-left: 633px;
	}
	.preview1 {
		padding-left: 668px;
	}
	.aboutUs {
		height: 160px;
		width: 630px;
		margin-top: 40px;
		margin-bottom: 78px;
	}
}
@media(max-width: 1530px){
	.content {
	 zoom: 0.9;
	}
}
@media(max-width: 1450px){
	.content {
	 zoom: 0.8 !important;
	}
 }
@media(max-width: 1280px){
	.preview {
		padding-left: 645px;
	}
	.preview1 {
		padding-left: 675px;
	}
	.aboutUsTxt {
		font-size: 24px;
		height: 90px;
	}
	.aboutUs {
		height: 90px;
	}
	.name {
		font-size: 64px;
	}
	.btns {
		padding-left: 200px;
	}
	.txtBlack {
		font-size: 20px;
	}
	.txtWhite {
		font-size: 20px;
	}
	.btnFill {
		width: fit-content;
		height: fit-content;
	}
	.btn {
		width: fit-content;
		height: fit-content;
	}
}
@media(max-width: 1250px){
	.content {
	 zoom: 0.7 !important;
	}
}
@media(max-width: 1024px){
	.preview {
		padding-left: 552px;
	}
	.preview1 {
		padding-left: 562px;
	}
	.aboutUs {
		height: 90px;
	}
	.name {
		font-size: 56px;
	}
	.btns {
		padding-left: 10%;
	}
	.content {
		background-position: 70% 100%;
	}
	
}
@media(max-width: 855px){
	.preview {
		padding-left: 598px;
	}
	.preview1 {
		padding-left: 608px;
		margin-bottom: 43px;
	}
	.aboutUsTxt {
		width: 409px;
		height: 150px;
	}
}
@media(max-width: 768px){
	.preview {
		padding-left: 532px;
	}
	.preview1 {
		padding-left: 532px;
	}
	.aboutUs {
		height: 90px;
	}
	.name {
		font-size: 48px;
	}
	.aboutUsTxt {
		font-size: 20px;
		width: 349px;
	}
	.btns {
		padding-left: 10%;
	}
	.txtBlack {
		font-size: 16px;
	}
	.txtWhite {
		font-size: 16px;
	}
	.content {
		height: 840px;
	}
}
@media(max-width: 590px){
	.preview {
		padding-left: 43px;
	}
	.preview1 {
		padding-left: 56px;
	}
	.btns {
		padding-left: 40px;
	}
	.content {
		zoom: 0.8 !important;
		height: 900px;
	}
}
@media(max-width: 480px){
	.content {
		height: 885px;
		zoom: 0.8 !important;
	}
}
