

.selectTexMenu{
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap:10px;
}

.buttons_selectTexMenu{
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.texImg_selectTexMenu{
	height: 100px;
	width: auto;
	border-radius: 10px;
}

.loadImg{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px dashed #1976d2;
	width: 400px;
	height: 100px;
	border-radius: 20px;
}

.drag_loadImg{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	height: 95px;
	width: 390px;
}

.deleteAll_selectTexMenu{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.selectTexMenu{
	display: flex;
	flex-direction: row;
	max-width: 1000px;
	min-width: 100px;
	min-height: 100px;
	border: 2px solid #656565;
	background: #404249;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	overflow-x: auto;
	gap: 10px;
}

.selectTexMenu_fill{
	display: flex;
	flex-direction: row;
	max-width: 1000px;
	min-width: 100px;
	min-height: 100px;
	border: 2px solid #656565;
	padding: 10px 5px 10px 5px;
	background: #404249;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	overflow-x: auto;
	gap: 10px;
}

.arrowDelete_selectTexMenu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	gap: 1px;
}

.cont{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	gap: 20px;
}

.addTex1{
	border-radius: 20px;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addTex1:hover{
	cursor: pointer;
	background: #34363b;
}

.addTexSmall{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #404249;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	border: 2px solid #656565;
	cursor: pointer;
}
.addTexSmall:hover{
	background: #34363b;
}

.addTex2:hover{
	cursor: pointer;
	background: #34363b;
}

.addTex2{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.sideMenu{
	display: flex;
	flex-direction: column;
	gap:10px;
	justify-content: center;
	align-items: center;
}

.cancelBtn{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2B2D31;
	border: none;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	right: -7px;
	top: -7px;
}

.texBtn{
	border: none;
	border-radius: 10px;
}

@media (max-width: 1350px){
	.text{
		display: none !important;
	}

	.loadIcon{
		display: flex !important;
	}

	.selectTexMenu_container{
		max-width: 100px;
	}

}

/* Настройки сколлбаров */

::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	/* background-color: #143861; */
	background-color: rgb(187, 186, 186);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	/* background-color: #206cb8dc; */
	background-color: gray;
	border-radius: 10px;
	height: 10px;
}



