.sceneCont {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.canvas {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	min-width: 500px;
	height: 651px;
	border-radius: 20px;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -800px 0
	}

	100% {
		background-position: 800px 0
	}
}

.canvasSkeleton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: 1000ms ease-in-out;
	background: linear-gradient(to right, #404249 8%, #4b4c50 18%, #404249 45%);
	width: 100%;
	max-width: 1000px;
	min-width: 1000px;
	height: 651px;
	border-radius: 20px;
	background-color: #404249;
}

.loadTexModal {
	position: absolute;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 40%;
	z-index: 1000;
}

.canvasOut {
	position: relative;
}

.sceneModal {
	position: absolute;
	background-color: black;
	color: white;
	left: 20px;
	top: 15px;
	height: 20px;
	width: 200px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 15px 5px 15px 10px;
	align-items: center;
	flex-direction: row;
	opacity: 40%;
	z-index: 1000;
}

.cancelBtn {
	background-color: black;
	border: none;
}

.txt {
	color: white !important;
	opacity: 100% !important;
	size: 14px !important;
}


/* @media (max-width: 1350px) and (min-height: 800px) {
	.canvas{
		max-height: 600px;
	}
	
} */

@media(max-width: 1450px) {
	#babylonjsLoadingDiv {
		zoom: 0.8;
	}
}