* {
    padding: 0;
    margin: 0;
}
.button {
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #3701C3 0%, #D6037E 104.9%);
    cursor: pointer;
    border: none;
    padding: 11px 10px;
    margin-bottom: 10px;
}
.button p {
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.modal {
    display: none;
}
.activeModal {
    display: block;
    position: relative;
    z-index: 1000000;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    top: 10%;
    /* left: 20%; */
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
    background-color:#FFFFFF;
}
.header {
    width: 100%;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    background: #E3E5E8;
}
.close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}
.close:hover {
    opacity: 0.7;
}
.content {
    display: flex;

}
.generateBtn
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/* из - за бутстрапа свойства кнопки и стартового окна едут */
.closeBtn{
	background: #E3E5E8;
	margin-bottom: 5px; 
}
@media screen and (max-width: 1600px) {
    .button p
    {
        font-size: 16px;
    }
    .button
    {
        padding: 8px 22px;
    }
}
@media(max-width: 1280px){
    .activeModal
    {
        top: 5%;
        /* left: 10%; */
    }
}

@media(max-height: 828px){
    .activeModal
    {
        top: 5%;
        /* left: 10%; */
    }
}

@media(max-height: 780px){
    .activeModal
    {
        top: 2%;
    }
}
@media(max-height: 760px){
    .activeModal
    {
        top: 5%;
        /* left: 7px; */
    }
    .button p
    {
        font-size: 11px;
    }
    .button
    {
        padding: 9px 22px;
        margin-bottom: 4px;
        height: 24px;
        display: flex;
        align-items: center;
    }
    
}
@media(max-width: 768px){
    .activeModal
    {
        top: 5%;
        /* left: 15px; */
        width: 738px;
        height: 470px;
    }
    .close
    {
        margin-left: 706px;
    }
}
