

.navCanvas {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.flex {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .navCanvas
    {
        width: 100px;
    }
}


