@page
@model CLI.Pages_ResultCaptions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ResultCaptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultCaptions.Id" />
            <div class="form-group">
                <label asp-for="ResultCaptions.ResultTextId" class="control-label"></label>
                <input asp-for="ResultCaptions.ResultTextId" class="form-control" />
                <span asp-validation-for="ResultCaptions.ResultTextId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultCaptions.InitTextId" class="control-label"></label>
                <input asp-for="ResultCaptions.InitTextId" class="form-control" />
                <span asp-validation-for="ResultCaptions.InitTextId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResultCaptions.IsInitEng" /> @Html.DisplayNameFor(model => model.ResultCaptions.IsInitEng)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResultCaptions.IsFinalEng" /> @Html.DisplayNameFor(model => model.ResultCaptions.IsFinalEng)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResultCaptions.IsHuman" /> @Html.DisplayNameFor(model => model.ResultCaptions.IsHuman)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
