.param {
    margin-top: 10px;
    width: 520px;
    /* height: 60px; */
    border-top: 1px solid #404249;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 10px; */
}
.text {
    display: inline-block;
    padding: 0px 0px 10px 30px;
    /* margin-right: 35px; */
    margin-top: 20px;
    max-width: 400px;
}
.block2{
    margin-top: 20px;
    margin-bottom: auto;
}
.img {
    width: 20px;
    height: 20px;
    margin-left: 11px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    /* margin-left: auto; */
    margin-bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 13px;
    background: #D9DBDC;
}

.slider_round:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    bottom: 3px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider_round {
    background-color: #0066FF;
}

input:focus + .slider_round {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
@media(max-width: 1280px){
    .param
    {
        margin-top: 0;
    }
    .text
    {
        margin-top: 10px;
        font-size: 14px;
        padding-left: 20px;
    }
    .block2
    {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .switch
    {
        margin-bottom: 0;
        margin-right: 5px;
    }
}
@media(max-width: 1280px){
    .param
    {
        width: 475px;
    }
}
@media(max-width: 768px){
    .text
    {
        font-size: 12px;
        padding-left: 10px;
    }
    .switch
    {
        margin: 0;
    }
}