
.cont {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 15px 10px 0px 10px;
	border-top: 1px solid #ABABAB;
	gap: 8px;
	justify-content: space-between;
}

.main__cont{
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: center;
}

.question{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 5px;
	height: 80px;
}

.text {
	display: inline-block;
	max-width: 100%;
	color: #656565;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.paramImg {
	width: 20px;
	height: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider_round {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 13px;
	background: #D9DBDC;
}

.slider_round:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	bottom: 3px;
	background-color: #FFFFFF;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked+.slider_round {
	background-color: #0066FF;
}

input:focus+.slider_round {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
@media(max-width: 1280px){
    .text
    {
        font-size: 14px;
    }
}

@media(max-width: 768px){
    .text
    {
        font-size: 12px;
    }

}