.param {
	margin-top: 10px;
	width: 520px;
	/* height: 60px; */
	border-top: 1px solid #404249;
}

.cont {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.text {
	color: #656565;
	font-family: Montserrat;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	display: inline-block;
	width: 200px;
	padding: 10px 0px 10px 30px;
	margin-right: 35px;
}

.input {
	width: 250px;
	height: 100px;
	border: none;
	border-radius: 5px;
	background: #D9DBDC;
	padding: 5px 0 5px 20px;
	outline: none;
}

.img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}