
.cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 15px 10px 0px 10px;
	gap:20px;
}

.cont__caption{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.captionsBlock{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #ABABAB;
	padding-bottom: 5px;
	position: relative;
}

.text {
	color: #656565;
	font-family: Montserrat;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	width: 100%;
}

.input {
	width: 451px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background: #D9DBDC;
	padding: 5px 0 5px 20px;
	outline: none;
}

.input__2 {
	width: 215px;
	height: 50px;
}

.attentionTxt{
	position: absolute;
	color: red;
	font-size: 11px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	bottom: 5px;
	left: 5px;
}

.attentionTxt__2{
	bottom: -3px;
	left: 5px;
}

.question{
	height: 109px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
}

.img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
@media(max-width: 1280px){
    .imput
    {
        margin-top: 10px;
    }
}
@media(max-width: 768px){
    .param
    {
        width: 475px;
    }
    .text
    {
        font-size: 18px;
    }
    .input
    {
        width: 210px;
        height: 80px;
    }
}