@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");

.finder {
    width: 30%;
    background-color:#EEF1F5;
    border-bottom-left-radius: 20px;
    background-image: url('../../../../../public/backgroundModal.svg');
}
.finderBlock {
    margin: 35px 20px 25px 40px;
    width: 250px;
    height: 640px;
}
/* .inputFinder {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #656565;
    padding-left: 50px;
    background-image: url('../../../../../public/Magnifier.svg');   
    background-repeat: no-repeat;
    background-position: 20px;
    outline: none; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
} */
.inputFinder::placeholder
{
    font-size: 16px;
    font-weight: 500;
}
.magnifer {
    width: 20px;
    height: 20px;
}
.list {
    height: 570px;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #656565;
}

.finderBlock {
	margin: 35px 20px 25px 20px;
	width: 100%;
	height: 640px;
}

.inputFinder {
	color: #656565;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #656565;
	padding-left: 50px;
	background-image: url('../../../../../public/Magnifier.svg');
	background-repeat: no-repeat;
	background-position: 20px;
	outline: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.magnifer {
	width: 20px;
	height: 20px;
}

.list {
	height: 570px;
    width: 90%;
	margin-top: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}


.outline {
    border: none;
    height: 1px;
    background-color: #656565;
}

@media(max-width: 1280px){
    .inputFinder
    {
        height: 30px;
        font-size: 14px;
        background-size: 15px;
    }
    .list
    {
        height: 470px;
    }
    .finderBlock
    {
        height: fit-content;
    }
}
@media(max-width: 768px){
    .finderBlock
    {
        margin: 15px 10px 15px 10px;
        width: 190px;
        height: 400px;
    }
    .list
    {
        margin-top: 15px;
        height: 340px;
    }
    .inputFinder
    {
        width: 190px;
    }
    .finder
    {
        width: 210px;
    }
}