.agreeWindow
{
    display: inline-block;
    justify-content: center;
    height: 720px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    background-color: #333333;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 237px;
    cursor: grab;

}

:root {
    --scrollbarBg: rgba(71, 71, 71, 1);
    --scrollbarThumb: rgba(102, 102, 102, 1);
    --scrollbarWidth: 36px;
    --scrollbarBorder: 8px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);

}

.agreeWindow::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
.agreeWindow::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: 0;
   

}
.agreeWindow::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    height:135px;
}

.header
{
    display: block;
    justify-content: center;
    font-size: large;
}
.Text
{
    display: flex;
    width: 100%;
    color: #ffffff;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-right: 1px solid #000000;

}

.leftpanel{
    display: inline-block;
    position: static;
    width: 238px;
    height: 720px;
    border-bottom-left-radius: 10px;
    
}

.content {
    width: 100%;
}

.leftpanel::after {
    content:'';

    z-index: 40;
    height: calc(100% - 10px);
    top: 20px;
    width: 5px;
    background: #666;
}

.search_container {
    background-color: #444444;
    
    display: block;
    flex-direction: row;
    justify-content: start;
    border-bottom: 1px solid #000000;
    border-bottom-right-radius: 10px;
    
}

.search_box {
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
    color: #ffffff;
    border: 0;
    width: 158px;
    padding-left: 10px;
}


.hrLine{
    margin-top: 45px;
    display: block;
    border: 5px solid #000000;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    width: 204px;
}

.adding1{
    flex-direction: column;
    display: block;
    margin-top: 45px;
}

.adding2{
    flex-direction: column;
    display: block;
    margin-top: 64px;
}

.adding3{
    flex-direction: column;
    display: block;
    margin-top: 83px;
}

.adding4{
    flex-direction: column;
    display: block;
    margin-top: 102px;
}

.adding5{
    flex-direction: column;
    display: block;
    margin-top: 121px;
}

.adding6{
    flex-direction: column;
    display: block;
    margin-top: 140px;
}

/* .myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  .myMenu li a:hover {
    background-color: #eee;
  } */