
.header
{
    position: static;
    height: 59px;
    width: 1300px;
    background-color: rgb(71, 71, 71);
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.closebtn{
    border: 1px solid #000000;
    border-radius: 5px;
    /*top: auto;*/
    /*left: auto;*/
    float: right;
    top: 12px;
    bottom: 12px;
    right: 11px;
    display: block;
    position: fixed;
}

.headerText
{
    color: #ff0000;
    position: static;
    top: auto;
    /*text-align: center;*/
    margin-top: 15px;
    margin-left: 40px;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
}