.param {
    margin-top: 10px;
    width: 520px;
    height: 60px;
    border-top: 1px solid #404249;
}
.paramText {
    padding: 0 0px 20px 30px;
    margin-right: 35px;
    margin-top: 20px;
}
.paramInput {
    width: 270px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: #D9DBDC;
    padding: 5px 0 5px 20px;
}
.paramImg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.select {
    width: 270px;
    height: 25px;
    border-radius: 5px;
    background: #D9DBDC;
    outline: none;
}
.option {
    color: #656565;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}