:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*
{
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) 
{
  :root 
  {
    scroll-behavior: smooth;
  }
}
body
{
  margin: 0;
}
.container 
{
    max-width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.start-page 
{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bootstrap-container
{
  z-index: 3;
  position: relative;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) 
{
  .bootstrap-container 
  {
    max-width: 540px;
  }
}
@media (min-width: 768px) 
{
  .bootstrap-container 
  {
    max-width: 720px;
  }
}
@media (min-width: 992px) 
{
  .bootstrap-container 
  {
    max-width: 960px;
  }
}
@media (min-width: 1200px)
{
  .bootstrap-container
  {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) 
{
  .bootstrap-container
  {
    max-width: 1320px;
  }
}
.row 
{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * 
{
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) 
{
  .col-lg 
  {
    flex: 1 0 0% !important;
  }
}
.col-lg-7 
{
  flex: 0 0 auto !important;
  width: 58% !important;
}

.justify-content-center 
{
  justify-content: center !important;
}
.block-start-button 
{
    height: 40px;
}
.bootstrap-btn 
{
    position: relative;
    width: 20%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) 
{
  .bootstrap-nav-link 
  {
    transition: none;
  }
}
.bootstrap-nav-link:hover, .bootstrap-nav-link:focus 
{
  color: #ffffff;
}
.bootstrap-nav-link.disabled 
{
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.align-items-center 
{
  align-items: center !important;
}

.text-center 
{
  text-align: center !important;
}
.font-size-24 
{
  text-shadow: 
      5px  5px 20px #000000,  /*  Нижний - Справа */
      5px -5px 20px #000000,  /*  Нижний - Слева  */
    -5px  5px 20px #000000,  /* Верхний - Справа */
    -5px -5px 20px #000000;  /* Верхний - Слева  */
}
.dark-light {
  text-shadow: 
      5px  5px 20px #000000,  /*  Нижний - Справа */
      5px -5px 20px #000000,  /*  Нижний - Слева  */
    -5px  5px 20px #000000,  /* Верхний - Справа */
    -5px -5px 20px #000000;  /* Верхний - Слева  */
}
.site-navbar 
{
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem; 
}
.nav-up-left-block 
{
    left: 0;
    display: inline-block;
    flex: 0 0 auto !important;
    width: 10% !important;
}
.bootstrap-nav-link 
{
    display: inline-block !important;
    width: 100%;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-up-right-block 
{
    position: absolute;
    top: 24px;
    right: 20px;
    width: 340px;
    display: inline-block;
    margin-left: auto;
    margin-right: 0em;
}
.nav-up-reg-link
{
    margin-right: 30%;
    display: inline-block !important;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #ffffff !important;
    width: 90px;
}
.nav-up-user-link
{
    display: inline-block !important;
    padding: 0.5rem 1rem;
    color: #ffffff !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    width: 180px;
}
.nav-up-auth-link 
{
    display: inline-block !important;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #ffffff !important;
    width: 50px;
}
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.ftco-cover-1 
{
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ftco-cover-1, .ftco-cover-1 .bootstrap-container > .row 
{
  height: 100vh;
  min-height: 600px; 
}
.ftco-cover-1-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: #000000; 
  z-index: 1;
}

.font-size-24 
{
  font-size: 24px; 
}

.btn
{
  color: #cccccc;
  text-decoration: none !important;
  padding: 15px 20px !important;
}

.primary-outline-white--hover 
{
  background: transparent;
  border-color: #fff; 
}
.primary-outline-white--hover:hover
{
  color: #acacac !important;
  background: #fff; 
}

.nav-link
{
  color: #aaaaaa;
  cursor: pointer;
}

.nav-link:hover 
{ 
 color: #fff;
}

.img-link
{
  border-radius: 5px;
  border: solid 1px #bdbdbd;
}

.img-link:hover 
{
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}





@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.start-button-text {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 0.5em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 0.6em;
    font-weight: 450;
    letter-spacing: 0.5em;

    -webkit-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.6;
    animation: faulty-flicker 2s linear infinite;
}

.start-button-text::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.start-button-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.start-button-text:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.start-button-text:hover .glowing-txt {
    animation: none;
}

.start-button-text:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.start-button-text:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.start-button-text:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 0.2;
    }
    4% {
        opacity: 0.6;
    }
    19% {
        opacity: 0.6;
    }
    21% {
        opacity: 0.2;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    83% {
        opacity: 0.5;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.2;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.2;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.8;
    }
    72% {
        opacity: 0.3;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.2;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .start-button-text{
        font-size: 1em;
    }
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.start-button-text1 {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 0.5em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 0.6em;
    font-weight: 450;
    letter-spacing: 0.5em;

    -webkit-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.6;
    animation: faulty-flicker 2s linear infinite;
}

.start-button-text1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.start-button-text1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.start-button-text1:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.start-button-text1:hover .glowing-txt {
    animation: none;
}

.start-button-text1:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.start-button-text1:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.start-button-text1:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 0.2;
    }
    4% {
        opacity: 0.6;
    }
    19% {
        opacity: 0.6;
    }
    21% {
        opacity: 0.2;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    83% {
        opacity: 0.5;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.2;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.2;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.8;
    }
    72% {
        opacity: 0.3;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.2;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .start-button-text1{
        font-size: 1em;
    }
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.start-button-text2 {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 0.5em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 1em;
    font-family: "Raleway", sans-serif;
    font-size: 0.6em;
    font-weight: 450;
    letter-spacing: 0.5em;

    -webkit-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.6;
    animation: faulty-flicker 2s linear infinite;
}

.start-button-text2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.start-button-text2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.start-button-text2:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.start-button-text2:hover .glowing-txt {
    animation: none;
}

.start-button-text2:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.start-button-text2:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.start-button-text2:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 0.2;
    }
    4% {
        opacity: 0.6;
    }
    19% {
        opacity: 0.6;
    }
    21% {
        opacity: 0.2;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    83% {
        opacity: 0.5;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.2;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.2;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.8;
    }
    72% {
        opacity: 0.3;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.2;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.2;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .start-button-text2{
        font-size: 1em;
    }
}

