
.imageBlock{
    display:flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: auto;
    background-color: rgb(51, 51, 51);
    height: 260px;
    /*border: 1px solid #000000;*/
    border-bottom: 5px solid rgba(0,0,0,0.15);

}

.drag_loadImg{
    display: block;
    align-items: center;
    justify-content: center;
    height: 210px;
    width: 210px;
}

.addBlock{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    position: static;
    align-items: center;
    width: 210px;
    height: 210px;
    background-color: rgb(71, 71, 71);
    border: 1px solid #000000;
    border-radius: 5px;
}



.parametresBlock{
    border-width: 1px;
}

.parametrsWindow{
    background-color: #333333;
    height:454px;
    width: auto;
}

.searcher{
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 24px;
    width: 468px;
    height: 35px;
    background-color: #666666;
    font-size: 16px;
    color: #ffffff;
}
.searcher1{
    border-radius: 10px;
    margin-left: 120px;
    width: 468px;
    height: 35px;
    background-color: #666666;
    font-size: 16px;
    color: #ffffff;
}

.checkingBox{
    margin-left: 120px;
}

.searchBtn{
    width: 75px;
    height: 35px;
    border-radius: 10px;
    margin-left: 420px;
    left: 420px;
    background-color: #474747;
    border: 1px solid #000000;
}

.parametresWind{
    display: inline-block;
    justify-content: center;
    border-radius: 5px;
    height: 250px;
    width: 964px;
    margin-left: 50px;
    margin-top: 23px;
    border: 1px solid #000000;
    background-color: #474747;
    overflow-y: scroll;
    cursor: grab;
}

:root {
    --scrollbarBg: rgba(71, 71, 71, 1);
    --scrollbarThumb: rgba(102, 102, 102, 1);
    --scrollbarWidth: 31px;
    --scrollbarBorder: 8px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);

}

.parametresWind::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    border: 1px solid #000000;

}
.parametresWind::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: 0;
    border: 1px solid #000000;

}
.parametresWind::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    height: 53px;

}

.cancelBtn{
    width: 164px;
    height: 47px;
    border-radius: 10px;

    left: 50px;

    top: 27px;
    background-color: #474747;
    border: 1px solid #000000;
}

.generatingBtn{
    width: 264px;
    height: 47px;
    border-radius: 5px;

    top: 27px;

    left: 586px;
    background-color: #474747;
    border: 1px solid #000000;
}

.adding{
    margin-left: 30px;
    margin-top: 30px;
}

t {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 47px;
    background: #474747;
    border-radius: 5px;
}
t:hover {
    -webkit-animation: burn 1000ms ease-out forwards;
    animation: burn 1000ms ease-out forwards;
}
t:hover::before {
    content: '';
    position: absolute;
    left: 40px;
    width: 100px;
    height: 40px;
    background: #ffe66e;
    border-radius: 5px;
    -webkit-animation: flare 1000ms ease-out forwards;
    animation: flare 1000ms ease-out forwards;
}
t:hover::after {
    content: '';
    position: absolute;
    right: 40px;
    width: 100px;
    height: 40px;
    background: #ffe66e;
    border-radius: 5px;
    -webkit-animation: flare 1000ms ease-out forwards;
    animation: flare 1000ms ease-out forwards;
}

@-webkit-keyframes flare {
    100% {
        -webkit-transform: translateY(-20px) scale(1.5);
        transform: translateY(-20px) scale(1.5);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
}

@keyframes flare {
    100% {
        -webkit-transform: translateY(-20px) scale(1.5);
        transform: translateY(-20px) scale(1.5);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
}
@-webkit-keyframes burn {
    0% {
        color: #ff826e;
        background: #ffe66e;
        box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    100% {
        color: black;
        background: white;
        box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}
@keyframes burn {
    0% {
        color: #ff826e;
        background: #ffe66e;
        box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    100% {
        color: black;
        background: white;
        box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 120px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider_round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #474747;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider_round {
    background-color: #5664E3;
}

input:focus + .slider_round {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.Tex{
    margin-left: 50px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 14px;
}

.container {
    display: flex;
    padding: 0;
}

.toolTipCustom {
    display: flex;
    top: -5px;
    left: 16px;
    height: 32px;
    /*padding: 8px 32px;*/
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    border-radius: 50%;
}

.toolTipCustom1 {
    display: flex;
    top: -5px;
    left: 18px;
    height: 36px;
    /*padding: 8px 32px;*/
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    border-radius: 50%;
}

.toolTipCustom2 {
    display: flex;
    top: -5px;
    left: 20px;
    height: 40px;
    /*padding: 8px 32px;*/
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    border-radius: 50%;
}

.exampleEnter {
    opacity: 0;
    transform:translateY(-100%);
}
.exampleEnterActive {
    opacity: 1;
    transform:translateY(0);
    transition: opacity 350ms, transform 350ms;
}
.exampleExit {
    opacity: 1;
    transform:translateY(0);
}
.exampleExitActive {
    opacity: 0;
    transform:translateY(-100%);
    transition: opacity 350ms, transform 350ms;
}




