.container {
    display: flex;
}
.tooltip {
    position: fixed;
    width: 80px;
    /*padding: 4px 12px;*/
    margin-left: 420px;
    margin-top: 430px;
    justify-content: center;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    font-weight: 600 ;
    pointer-events: none;
}
.tooltip1 {
    position: fixed;
    width: 80px;
    /*padding: 4px 12px;*/
    margin-left: 420px;
    margin-top: 510px;
    justify-content: center;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    font-weight: 600 ;
    pointer-events: none;
}
.tooltip2 {
    position: fixed;
    width: 80px;
    /*padding: 4px 12px;*/
    margin-left: 420px;
    margin-top: 575px;
    justify-content: center;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    font-weight: 600 ;
    pointer-events: none;
}