@page
<div class = "start_page">
    <img src = "logo.png" alt = "альтернативный текст" style = "border: solid 4px #000000; border-radius: 4px; position: absolute; top: 18%; left: 45%; width: 10%" />
    <div style = "margin-left: auto; margin-right: auto; width: 70%; text-align: center;">
        <p>
            Веб платформа с нейронными сетями в качестве инструментов для упрощения работы художников, ретушёров, и, в перспективе, мультипликаторов. Внедрение нейронных сетей в процесс создания рисунков и обработанных фотографий позволяет значительно повысить скорость, эффективность и качество конечного результата. Для рисования анимаций, особенно малым коллективном, этот инструмент смог бы стать просто незаменимым, поскольку будет иметь возможность лишь по набору набросков опорных кадров в кратчайшие сроки воссоздать как отдельные детали самих кадров, так и сгенерировать промежуточные и улучшить их качество. В перспективе также планируется возможность добавления генерации саундтреков, звуков и возможно даже озвучания, и всё это на одной удобной платформе.
        </p>
    </div>
    <form class = "main_start_form" asp-area = "Identity" asp-page = "/Account/Register" asp-route-returnUrl = "@Url.Page("/", new { area = "" })" method = "post" style = "position:center; width: 10%; height: 10%">
        <button type = "submit" class = "main_start_button" style = "position:absolute; left: 45%; width: 10%; height: 10%; font-size: 200%">
            Начать
        </button>
    </form>
</div>