<!DOCTYPE html>
<html lang = "ru" prefix = "og: http://ogp.me/ns#">
<head>
    <meta http-equiv = 'cache-control' content = 'no-cache'>
    <meta http-equiv = 'expires' content = '0'>
    <meta http-equiv = 'pragma' content = 'no-cache'>
    <meta charset = "utf-8" />
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0" />
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta property = "og:title" content = "StableDraw: рисование с применением нейросетей" />
    <meta property = "og:url" content = "http://www.stabledraw.com/" />
    <meta property = "vk:image" content = "https://stabledraw.com/logo.png" />
    <meta property = "og:image" content = "https://stabledraw.com/logo.png" />
    <link rel = "shortcut icon" href = "favicon.ico" type = "image/x-icon" />
    <link rel = "stylesheet" href = "/style.css?v=<?= time(); ?>" type = "text/css">
    <link rel = "stylesheet" href = "/farbtastic.css" type = "text/css" />
    <title>Stable Draw</title>
</head>
<body>
    <partial name = "_LoginPartial" />
    <div class = "container">
        <main role= "main" class = "pb-3">
            @RenderBody()
        </main>
    </div>
    <script src = "/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>