@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class = "blackout" id = "full_blackout">
        <img class = "loading" src = "loading.webp"></img>
    </div>
    <div id = "mySidepanel" class = "sidepanel">
        <div class = "closebtn">
            &times
        </div>
        <div id = "mods_of_work" class = "mods_of_work">
            <a href = "#" class = "work_mode_href" title = "Картина по текстовому описанию" style = "border-bottom-style: hidden">
                <img class = "work_mode_img_btn" src = "text_to_image.png"></img>
            </a>
            <a class = "work_mode_href" id = "selected_work_mode" title = "Картина из рисунка (выбрано)">
                <img class = "work_mode_img_btn" src = "image_to_image.png"></img>
            </a> 
            <a href = "#" class = "work_mode_href" title = "Обработка изображений с комьютера" style = "border-top-style: hidden">
                <img class = "work_mode_img_btn" src = "photo_to_image.png"></img>
            </a>
            <a href = "#" class = "work_mode_href" title = "Создание аримации" style = "border-top-style: hidden">
                <img class = "work_mode_img_btn" src = "frames_to_animation.png"></img>
            </a>
        </div>
        <div class = "sidepanel_bottom_buttons">
            <button class = "sidepanel_bottom_button" title = "Настройки">
                <img class = "sidepanel_bottom_button_img" src = "settings.png"></img>
            </button>
            <button class = "sidepanel_bottom_button" id = "change_theme" title = "Тёмная/светлая тема">
                <img class = "sidepanel_bottom_button_img" id = "theme_mode_img" src = "dark mode.png"></img>
            </button>
            <button class = "sidepanel_bottom_button" title = "Язык/language">
                <img class = "sidepanel_bottom_button_img" src = "language.png"></img>
            </button>
        </div>
        <div class = "helpfull_links" font-size = "2px" style = "bottom: 15%">
            <a class = "helpfull_link" asp-area = "Identity" asp-page = "/Account/Manage/Index" title = "Профиль" style = "width: 95%;">
                @User.Identity?.Name
            </a>
            <form class = "form-inline" asp-area = "Identity" asp-page = "/Account/Logout" asp-route-returnUrl = "@Url.Page("/", new { area = "" })" method = "post" style = "position:relative; left: 37%;">
                <button type = "submit" class = "auth-link btn btn-link text-dark">
                    Выйти
                </button>
            </form>
        </div>
        <div class = "helpfull_links" font-size = "2px">
            <div class = "helpfull_link">
                <a href = "#">
                    О нас
                </a>
            </div>
            <div class = "helpfull_link">
                <a href = "#">
                    Помощь
                </a>
            </div>
        </div>
    </div>
    <div class = "blackout" id = "side_panel_blackout" style = "z-index: 20;"></div>
    <button class = "openbtn">
        &#9776;
    </button>
    <div class = "cursor">
        <img class="cursimg" style="display: 'none'; width: 30px; height: 30px"></img>
    </div>
    <div class = layers>
        <div class = layers_buttons>
            <button class = layers_mini_button id = merge_layers title = "Объединить слои">
                <img class = "layers_mini_button_image" src = "merge.png"></img>
            </button>
            <button class = layers_mini_button id = swap_layers title = "Поменять слои местами">
                <img class = "layers_mini_button_image" src = "swap.png"></img>
            </button>
        </div>
        <div class = layer_box>
            <div class = layer id = layer_1>
                <div class = layer_button_box>
                    <button class = layer_left_mini_button id = layer_1_visibility_button title = "Включить/выключить видимость">
                        <img class = "layer_left_mini_button_image" id = layer_1_visibility_img src = "visibility_on.png"></img>
                    </button>
                    <button class = layer_left_mini_button id = clear_layer_1 title = "Очистить слой">
                        <img class = "layer_left_mini_button_image" src = "/clear.png"></img>
                    </button>
                </div>
                <div class = layer_button id = layer_button_1>
                    <div class = layer_display_icon id = layer_display_icon_1>
                        <canvas class = layer_display_canvas id = layer_1_display_canvas style = "z-index: 1;"></canvas>
                        <div class = layer_display_canvas id = "layer_alpha_img_1" style = "z-index: 0; background-image: url(mini_alpha_pattern.png); background-repeat: repeat"></div>
                    </div>
                </div>
            </div>
            <div class = layer id = layer_2>
                <div class = layer_button_box>
                    <button class=layer_left_mini_button id=layer_2_visibility_button title="Включить/выключить видимость">
                        <img class="layer_left_mini_button_image" id=layer_2_visibility_img src="visibility_on.png"></img>
                    </button>
                    <button class = layer_left_mini_button id = clear_layer_2 title = "Очистить слой">
                        <img class = "layer_left_mini_button_image" src = "/clear.png"></img>
                    </button>
                </div>
                <div class = layer_button id = layer_button_2>
                    <div class = layer_display_icon id = layer_display_icon_2>
                        <canvas class = layer_display_canvas id = layer_2_display_canvas style = "z-index: 1;"></canvas>
                        <div class = layer_display_canvas id = "layer_alpha_img_2" style = "z-index: 0; background-image: url(mini_alpha_pattern.png); background-repeat: repeat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = scale_field>
        <input type = "text" class = "f_ratio" list = "default_ratio" name = "f_ratio" required placeholder = "W:H"/>
        <datalist id = "default_ratio">
            <option value = "16:9"></option>
            <option value = "1:1"></option>
            <option value = "21:9"></option>
            <option value = "4:3"></option>
            <option value = "9:16"></option>
            <option value = "9:21"></option>
        </datalist>
    </div>
    <div class = "d_frame" id = "d_frame">
        <div class = "v_frame" id = "v_frame">
            <canvas class = "drawfield" id = "canvas_additional" style = "z-index: 10"></canvas>
            <canvas class = "drawfield" id = "canvas_foreground" style = "z-index: 9"></canvas>
            <canvas class = "drawfield" id = "canvas_background" style = "z-index: 8"></canvas>
            <div class = "drawfield" id = "alpha_img" style = "z-index: 7; background-image: url(alpha_pattern.png); background-repeat: repeat"></div>
        </div>
    </div>
    <div class = "clr_window" id = "clr_window">
        <form action = "">
            <div class = "form-item">
                <label id = "text_label_clr" for = "color">
                    Цвет:
                </label>
                <input type = "text" id = "color" name = "color" value = "#000000"></input>
            </div>
            <div id = "picker">
            </div>
        </form>
        <button class = "ctype_clr_btn" id = "ctype_clr_btn" type = "button">
            Цвет фона
        </button>
        <button class = "ok_clr_btn" id = "ok_clr_btn" type = "button">
            Сохранить
        </button>
    </div>
    <div class = "up_add_window" id = "pencil_window" style = "margin-right: 14.5%; display: block">
        <div class = "pencil_window_thickness_block">
            <img class = "thicknessimg" src = "thickness.png"></img>
            <input class = "up_add_window_slider" type = "range" id = "thickness_sliderValue" min = "1" max = "100" value = "1"></input>
            <input class = "up_add_window_field" type = "number" id = "thickness_rangeValue" min = "1" max = "100" value = "1"></input>
        </div>
        <div class = "pencil_window_smoothing_block">
            <img class = "smoothingimg" src = "smoothing.png"></img>
            <input class = "up_add_window_slider" type = "range" id = "smoothing_sliderValue" min = "0" max = "100" value = "0"></input>
            <input class = "up_add_window_field" type = "number" id = "smoothing_rangeValue" min = "0" max = "100" value = "0"></input>
        </div>
    </div>
    <div class = "up_add_window" id = "eraser_window" style = "margin-right: 7.5%; display: none">
        <div class = "eraser_window_thickness_block">
            <img class = "thicknessimg" src = "thickness.png"></img>
            <input class = "up_add_window_slider" type = "range" id = "e_thickness_sliderValue" min = "1" max = "100" value = "1"></input>
            <input class = "up_add_window_field" type = "number" id = "e_thickness_rangeValue" min = "1" max = "100" value = "1"></input>
        </div>
    </div>
    <button class = "up_panel_button_tool" id = "graphic_tablet" title = "Учитывать силу нажатия" style = "display: none; position: fixed; top: 4px; left: 10%;">
        <img class = "up_panel_button_image" id = "graphic_tablet_image" src = "graphic_tablet.png"></img>
    </button>
    <div class = "palette_nav">
    </div>
    <div class = "nav">
        <div class = "icon_buttons">
            <button class = "up_panel_button" id = "arrow_back" title = "Отменить">
                <img class = "up_panel_button_image" id = "arrow_back_image" src = "undo_arrow.png"></img>
            </button>
            <button class = "up_panel_button" id = "arrow_next" title = "Повторить">
                <img class="up_panel_button_image" id="arrow_next_image" src="repeat_arrow.png"></img>
            </button>
            <button class = "up_panel_button" id = "palette" title = "Выбор цвета">
                <img class = "up_panel_button_image" id = "clrimg" src = "palette.png" style = "filter: invert(1);"></img>
            </button>
            <button class = "up_panel_button_tool" id = "pencil" title = "Карандаш">
                <img class = "up_panel_button_image" id = "pencil_image" src = "pencil.png"></img>
            </button>
            <button class = "up_panel_button_tool" id = "eraser" title = "Ластик">
                <img class = "up_panel_button_image" id = "eraser_image" src = "eraser.png"></img>
            </button>
            <button class = "up_panel_button_tool" id = "bucket" title = "Заливка">
                <img class = "up_panel_button_image" id = "bucket_image" src = "bucket.png"></img>
            </button>
            <button class = "up_panel_button_tool" id = "pipette" title = "Пипетка">
                <img class = "up_panel_button_image" id = "pipette_image" src = "pipette.png"></img>
            </button>
            <button class = "up_panel_button" id = "clear" title = "Очистить рабочую область">
                <img class = "up_panel_button_image" id = "clearimg" src = "clear.png"></img>
            </button>
            <button class = "up_panel_button" id = "upload" title = "Загрузить изображение на сайт">
                <img class = "up_panel_button_image" id = "uploadimg" src = "upload.png"></img>
                <input class = "hiddenInput" type = "file" id = "my_hidden_file" name = "loadfile"></input>
            </button>
            <button class = "up_panel_button" id = "save" title = "Сохранить изображение">
                <img class = "up_panel_button_image" id = "saveimg" src = "save.png"></img>
            </button>
            <button class = "up_panel_button" id = "generate" data-toggle = "modal" title = "ИИ обработка">
                <img class = "up_panel_button_image" id = "generateimg" src = "generate.png"></img>
            </button>
        </div>
    </div>
    <script src = "~/lib/jquery/dist/jquery.min.js"></script>
    <script src = "~/main.js?v=<?=time();?>"></script>
    <script type = "text/javascript" src = "~/farbtastic.js"></script>
}
else
{
    <style>.container {display:block;}</style>
    <ul class = "helpfull_links" style = "position: fixed; right: 5px; top: 0px; text-align: right; width: 16%; height: 7%;">
        <a class = "helpfull_link" asp-area = "Identity" asp-page = "/Account/Register" style = "position: fixed; top: 0%; width: 16%; text-align: right; right: 5px; text-decoration: none;">
            <font color="#000000">
                Регистрация
            </font>
        </a>
        <a class = "helpfull_link" asp-area = "Identity" asp-page = "/Account/Login" style = "position: fixed; top: 30px; width: 16%; text-align: right; right: 5px; text-decoration: none;">
            <font color="#000000">
                Вход
            </font>
        </a>
    </ul>
}