.bar
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 45px;
    height: 25px;
    display: block;
    
}
.bar:hover
{
    transform: translateY(4%);
    opacity: 0.8;
}


.arrowsbar_panel_button_image
{   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.left__btn {
    width: 78px;
    height: 50px;
    border: none;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
}

@media screen and (max-width: 1180px) {
    .left__btn svg {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .left__btn {
        width: 100%;
        height: 100%;
    }
    .left__btn svg {
        width: 35px;
        height: 35px;
    }
}