.bar
{
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 45px;
    height: 25px;

    display: block;
   
    /* border: 1px solid #000000; */
}
.bar:hover
{
    transform: translateY(4%);
    opacity: 0.8;
}

.arrowsbar_panel_button_image
{  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.right__btn {
    border: none;
    height: 50px;
    width: 78px;
    background-color: #FFFFFF;
    border-top-right-radius: 20px;
}
@media screen and (max-width: 1180px) {

    .right__btn {
        width: 60px;
        height: 50px;
    }
    .right__btn svg { 
        width: 60px;
        height: 50px;
    }
}