

.selectTexMenu{
	display: flex;
	justify-content: center;
	flex-direction: row;
	/* max-width: 1000px;
	overflow-x: auto; */
}

.previewTexes_selectTexMenu{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.buttons_selectTexMenu{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow-x:auto; */
	/* max-width: 100%; */
}

.closeButton_selectTexMenu{
	padding-left: 40px;
	height: 20px;
	
}

.texImg_selectTexMenu{
	height: 100px;
	width: auto;
	border-radius: 10px;
}

.loadImg{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px dashed #1976d2;
	width: 400px;
	height: 100px;
	border-radius: 20px;
}

.drag_loadImg{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	height: 95px;
	width: 390px;
}

.deleteAll_selectTexMenu{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.selectTexMenu_container{
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	max-width: 1000px;
	/* border: 1px solid gray; */
	border-radius: 10px;
	background: #e3f2fd;
	margin-top: 10px;
}

.arrow_selectTexMenu{
	display: flex;
	align-items: center;
}

.arrowDelete_selectTexMenu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	gap: 1px;
}

.text{
	font-size: 15px !important;
}

.cont{
	display: flex;
	flex-direction: row;
}
.loadIcon{
	/* display: none !important; */
}

.crossIcon{
}

.addIcon{
	width: 40px !important;
	height: 40px !important;
	color:gray !important;
}

.addIconContMain{
	width: 80px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.addIconMain{
	width: 50px !important;
	height: 50px !important;
	color: gray !important;
}

.addIcon:hover{
	color: rgb(102, 102, 102) !important;
	transition: 150ms ease-in-out !important;
	cursor: pointer;
}

.addIconMain:hover{
	color: rgb(102, 102, 102) !important;
	transition: 150ms ease-in-out !important;
	cursor: pointer;
}

@media (max-width: 1350px){
	.text{
		display: none !important;
	}

	.loadIcon{
		display: flex !important;
	}

	.selectTexMenu_container{
		max-width: 100px;
	}

}

/* Настройки сколлбаров */

::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	/* background-color: #143861; */
	background-color: rgb(187, 186, 186);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	/* background-color: #206cb8dc; */
	background-color: gray;
	border-radius: 10px;
	height: 10px;
}



