.sceneCont{
	display: flex;
	justify-content: center;
	padding: 10px;
	height: auto;
	width: auto;
}

.canvas{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	max-height: 700px;
	max-width: 1400px;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	grid-row: 1;
}

@media (max-width: 1350px) and (min-height: 800px) {
	.canvas{
		max-height: 600px;
	}
}

.loadTexModal{
	position: absolute;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 40%;
	z-index: 1000;
}
