.button {
    width: 160px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #3701C3 0%, #D6037E 104.9%);
    cursor: pointer;
}
.button p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    line-height: 1px;
}
.flex {
    display: flex;
    align-items: center;
}.window
{
    position: fixed;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1245px) {
    .button {
        width: 130px;
    }
    .button p {
        font-size: 18px;
    }
}


