

.navCanvas {
    width: 600px;
    height: 60px;
    display: flex;
    gap: 20px;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    position: absolute;
    top: 115px;
    left: 250px;
    transform: translateX(40%) translateY(0%);
}


