@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");

.params {
	width: 550px;
	height: 250px;
	margin-top: 20px;
}

.findParam {
	width: 65%;
	height: 30px;
	font-family: Montserrat;
	color: #656565;
	font-weight: 500;
	font-size: 13px;
	border-radius: 10px;
	border: 1px solid #656565;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	outline: none;
	padding-left: 20px;
	padding: 0px 20px 0px 40px;

	background-image: url('../../../../../../public/Magnifier.svg');
	background-repeat: no-repeat;
	background-position: 15px;
	background-size: 18px;
}

.findParam::placeholder {
	font-size: 14px;
}

.saveParam {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 5px 10px;
	height: 30px;
	border: 1px solid #06F;
	border-radius: 8px;
	background: white;
}

.txt {
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.txt__saveParam {
	font-family: Montserrat;
	font-size: 11px;
	font-weight: 600;
	color: #06F;
	transition: 100ms ease-in-out;
}

.saveParam:hover {
	color: white;
	background-color: #06F;
	transition: background-color 0.1s linear;
}

.saveParam:hover .txt__saveParam {
	font-weight: 600;
	font-size: 11px;
	color: #FFF;
}

.saveParamText {
	padding: 7px;
	font-size: 11px;
	line-height: normal;
}

.paramCont {
	padding: 10px;
	width: 550px;
	height: 250px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.paramsList {
	width: 540px;
	height: 250px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding-right: 20px;
}

.cancel {
	width: 120px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #06F;
	background-color: #FFFFFF;
}

.cancel__txt {
	color: #06F;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.cancel:active {
	opacity: 50%;
}

.cancel:hover {
	background: #06F;
	transition: background-color 0.1s linear;
}

.cancel:hover .cancel__txt {
	color: #FFF
}

.downBtns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}

.downBtns__generate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 200px;
	height: 50px;
	border: none;
	color: white;
	border-radius: 10px;
	background: var(--AI, linear-gradient(90deg, #3E01C0 0%, #0F94DF 100%));
}

.downBtns__generate:hover {
	background: #3D03C0;
}

.downBtns__generate:active {
	background: #7850D1;
}


.loadingMode {
	width: 220px;
	pointer-events: none;
}

.attention {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.attentionTxt {
	color: red;
	font-size: 11px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.paramsHeader {
	display: flex;
	justify-content: space-between;
}

/* Анимация загрузки */
@keyframes ldio-mp355hh362 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spin {
	width: 20px;
	height: 20px;
	border: 4px solid #FFF;
	border-top-color: transparent;
	border-radius: 50%;
	animation: ldio-mp355hh362 1s linear infinite;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.loadTxt {
	color: var(--dark-gray, #656565);
	font-size: 12px;
	font-weight: 500;
}

@media(max-width: 1920px) {
	.downBtns {
		margin-top: 30px;
	}

	.paramCont {
		height: 300px;
	}

	.paramsList {
		height: 280px;
	}

	.params {
		height: 300px;
	}
}

@media(max-height: 760px){
	.downBtns__generate {
		width: fit-content;
		height: fit-content;
		padding: 10px 25px;
		display: flex;
		margin-top: 20px;
	}

	.cancel {
		width: fit-content;
		height: fit-content;
		padding: 10px 25px;
		display: flex;
		margin-top: 20px;
	}
	.image {
		height: 210px;
	}

	.params {
		margin-top: 10px;
		height: 230px;
	}

	.paramCont {
		height: 240px;
	}

	.paramsList {
		height: 230px;
	}
}

@media(max-width: 1280px) {
	.image {
		height: 210px;
	}

	.cancel {
		width: fit-content;
		height: fit-content;
		padding: 10px 25px;
		display: flex;
	}

	.cancel__txt {
		font-size: 14px;
	}

	.downBtns__generate {
		width: fit-content;
		height: fit-content;
		padding: 10px 25px;
		display: flex;
	}

	.downBtns {
		margin-top: 50px;
	}
}

@media(max-width: 768px) {
	.image {
		height: 150px;
	}

	.img {
		max-height: 100px;
	}

	.txt {
		font-size: 12px;
	}

	.imgBtn img {
		width: 50px;
		height: 50px;
	}

	.deleteBtn img {
		width: 25px;
		height: 25px;
	}

	.params {
		width: 500px;
		height: 150px;
	}

	.params img {
		margin-left: 5px;
	}

	.paramCont {
		width: 500px;
		height: 150px;
	}

	.paramsList {
		width: 490px;
		height: 140px;
	}

	.downBtns__generate {
		padding: 12px 25px;
	}

	.downBtns {
		margin-top: 30px;
	}

}