.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #FAFAFA;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.main__content {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	gap: 10px;
}

.main__person {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* gap: 36px; */
}

@media(max-width: 1240px) {
	.main__content {
		scale: 0.9;
	}

}