
.main{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #FAFAFA;
	width: 100vw;
	height: 1080px;
	gap: 50px;
}

.main__content{
	display: flex;
	flex-direction: column;
	gap: 20px;
}