/* основной контейнер для расположения работ */
.main {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	overflow-y: auto;
	width: 704px;
	height: 370px;
}

/* карточка работы */
.card {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 42px;
	width: 200px;
	gap: 5px;
	border-radius: 20px;
	border: 2px solid #D9D9D9;
	background: #FFF;
	z-index: 0;
}

.card__img {
	max-width: 160px;
	max-height: 130px;
	border-radius: 15px;
}

.txt {
	color: #1E1F22;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* кнопка share */
.share {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 17px;
	border: none;
	background: #FFF;
	border-radius: 20px;
}

.share:hover {
	scale: 1.1;
	cursor: pointer;
}

.share:active {
	background-color: #D9D9D9;
}

@media(max-height: 980px) {
	.main {
		height: 340px;
	}
}

@media(max-height: 900px) {
	.card__img {
		max-width: 128px;
		max-height: 104px;
	}

	.card {
		padding: 12px 34px;
	}
}

@media(max-height: 850px) {
	.card__img {
		max-width: 115px;
		max-height: 94px;
	}

	.card {
		padding: 11px 31px;
	}

	.main {
		height: 296px;
	}
}

@media(max-height: 778px) {
	.main {
		height: 237px;
	}
}
	