.navigation {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 13px 300px;
}
.logo{
    display: flex;
}
.logoText{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    color: #492281;
    font-family: Montserrat Subrayada;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.modules{
    display: flex;
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.personalArea{
    width: 150px;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    margin-left: 42px;
    cursor: pointer;

}
.personalArea p {
    color: #0D3157;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0.6rem;
}
.main {
    display: flex;
    background: #EFEFEF;
}

.main__content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    height: calc(100vh - 70px);
    background: #EFEFEF;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block {
    justify-content: flex-end;
}

.canvas__button {
    justify-content: flex-start;
    gap: 20px;

}

.title__header {
    color: #492281;
    /*font-family: "Montserrat Subrayada", emoji;*/
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.subscribe__txt {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #4401BD 0%, #C70384 106.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.subscribe__txt_3D {
    color: #1975D2;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link {
	text-decoration: none;
    width: 90px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    cursor: pointer;
    margin-left: 32px;
}
.link span
{
    color: #1975D2;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 1245px) {
    .navigation {
        padding: 13px 5px;
    }
}
@media screen and (max-width: 1024px) {
    
    .personalArea
    {
        margin-left: 50px;
    }
    .modules
    {
        margin-left: 100px;
    }
    .canvas__button
    {
        gap: 8px;
        align-items: flex-start;
    }
    .main__content
    {
        padding-left: 30px;
    }
}
@media screen and (max-width: 768px) {
    .personalArea p, .subscribe__txt, .link span{
        font-size: 10px;
    }
    .personalArea
    {
        margin-left: 0;
    }
    .link
    {
        width: fit-content;
        margin-left: 37px;
    }
}